n8n/workflows/00_error_handler.json
{
  "name": "00 - Error Handler",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "eeeeeeee-0000-4000-8000-000000000001",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "jsCode": "const exec = $json.execution || {};\nconst wf = $json.workflow || {};\nconst err = exec.error || {};\n\nconst message = err.message || '(no error message)';\nconst errorText = `${message}\\n${err.stack || ''}`.toLowerCase();\n\n// n8n's built-in retryOnFail (configured per-node on the HTTP/Postgres\n// nodes in workflows 01-04) already retries transient errors with a fixed\n// backoff before a workflow fails permanently -- by the time this trigger\n// fires, any such retries are exhausted. This classification is\n// informational only (shown in the Slack alert), it does not drive further\n// retries here.\nconst transientPattern = /(timeout|timed out|econnreset|econnrefused|rate limit|429|502|503|504)/;\nconst errorClass = transientPattern.test(errorText) ? 'transient (retries exhausted)' : 'permanent';\n\nreturn [{\n  json: {\n    workflow_name: wf.name || 'unknown workflow',\n    workflow_id: wf.id || null,\n    failed_node: exec.lastNodeExecuted || 'unknown node',\n    error_message: message,\n    error_class: errorClass,\n    execution_id: exec.id || null,\n    execution_url: exec.url || null,\n    occurred_at: new Date().toISOString(),\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "eeeeeeee-0000-4000-8000-000000000002",
      "name": "Parse Error Context"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $json;\nreturn [{\n  json: {\n    ...ctx,\n    event_payload: JSON.stringify({\n      workflow_name: ctx.workflow_name,\n      workflow_id: ctx.workflow_id,\n      failed_node: ctx.failed_node,\n      error_message: ctx.error_message,\n      error_class: ctx.error_class,\n      execution_id: ctx.execution_id,\n      execution_url: ctx.execution_url,\n      occurred_at: ctx.occurred_at,\n    }),\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "eeeeeeee-0000-4000-8000-000000000003",
      "name": "Prepare Error Event"
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "INSERT INTO application_event (application_id, event_type, payload)\nVALUES (NULL, 'error', $1::jsonb)\nRETURNING id",
        "options": {
          "queryReplacement": "={{ $json.event_payload }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        660,
        0
      ],
      "id": "eeeeeeee-0000-4000-8000-000000000004",
      "name": "Insert Error Event",
      "credentials": {
        "postgres": {
          "id": "IE4krf2WbUXsoRyf",
          "name": "Anchor Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Parse Error Context').item.json;\n\nconst lines = [\n  `:rotating_light: *Anchor workflow failure* (${ctx.error_class})`,\n  `Workflow: *${ctx.workflow_name}*`,\n  `Failed node: *${ctx.failed_node}*`,\n  `Error: ${ctx.error_message}`,\n  ctx.execution_url ? `Execution: ${ctx.execution_url}` : null,\n  '',\n  'Open the execution above to check for an affected application_id. If an ' +\n    'application is stuck because of this, mark it manually:',\n  \"`UPDATE application SET status = 'errored' WHERE id = '<application_id>';`\",\n].filter(Boolean);\n\nreturn [{ json: { slack_text: lines.join('\\n') } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "eeeeeeee-0000-4000-8000-000000000005",
      "name": "Prepare Slack Alert"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8001/notify-slack",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.slack_text }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        0
      ],
      "id": "eeeeeeee-0000-4000-8000-000000000006",
      "name": "Post Slack Alert",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Parse Error Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Error Context": {
      "main": [
        [
          {
            "node": "Prepare Error Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Error Event": {
      "main": [
        [
          {
            "node": "Insert Error Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Error Event": {
      "main": [
        [
          {
            "node": "Prepare Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Slack Alert": {
      "main": [
        [
          {
            "node": "Post Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {}
}
