n8n/workflows/05_weekly_reflection.json
{
  "name": "05 - Weekly Reflection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [
                0
              ],
              "triggerAtHour": 19,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "dddddddd-0000-4000-8000-000000000001",
      "name": "Schedule Trigger - Sunday 7pm"
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "SELECT\n  a.id AS application_id,\n  a.role_title,\n  a.status,\n  a.match_score,\n  a.created_at,\n  a.submitted_at,\n  a.responded_at,\n  c.name AS company_name,\n  coalesce(c.synthesis->>'company_type', 'unknown') AS company_type,\n  (\n    SELECT ar.output_json->>'tier'\n    FROM agent_run ar\n    WHERE ar.application_id = a.id AND ar.agent_name = 'match_scorer'\n    ORDER BY ar.created_at DESC\n    LIMIT 1\n  ) AS match_tier\nFROM application a\nLEFT JOIN company c ON a.company_id = c.id\nWHERE a.created_at >= now() - interval '28 days'\nORDER BY a.created_at ASC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        220,
        0
      ],
      "id": "dddddddd-0000-4000-8000-000000000002",
      "name": "Aggregate Last 4 Weeks",
      "credentials": {
        "postgres": {
          "id": "IE4krf2WbUXsoRyf",
          "name": "Anchor Postgres"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const apps = $input.all().map(item => item.json);\nconst n = apps.length;\nconst MIN_N = 5;\nconst minNReached = n >= MIN_N;\n\nconst now = new Date();\n// Sunday 7pm trigger -> week_start = Monday of the week ending today\nconst weekStart = new Date(now);\nweekStart.setDate(weekStart.getDate() - 6);\nconst weekStartStr = weekStart.toISOString().slice(0, 10);\nconst todayStr = now.toISOString().slice(0, 10);\n\nconst RESPONDED_STATUSES = ['responded', 'interview'];\n\nfunction pct(num, den) {\n  if (den === 0) return 'n/a';\n  return `${num}/${den} (${Math.round((num / den) * 100)}%)`;\n}\n\n// Status breakdown\nconst statusCounts = {};\nfor (const a of apps) {\n  statusCounts[a.status] = (statusCounts[a.status] || 0) + 1;\n}\nconst statusLines = Object.entries(statusCounts)\n  .map(([status, count]) => `  ${status}: ${count}`)\n  .join('\\n') || '  (none)';\n\n// Match score stats\nconst scored = apps.filter(a => a.match_score != null);\nconst avgScore = scored.length > 0\n  ? Math.round(scored.reduce((sum, a) => sum + a.match_score, 0) / scored.length)\n  : null;\n\n// By match tier\nconst byTier = {};\nfor (const a of apps) {\n  const tier = a.match_tier || 'unknown';\n  if (!byTier[tier]) byTier[tier] = { total: 0, responded: 0 };\n  byTier[tier].total += 1;\n  if (RESPONDED_STATUSES.includes(a.status)) byTier[tier].responded += 1;\n}\nconst tierLines = Object.entries(byTier)\n  .map(([tier, d]) => `  ${tier}: ${d.total} application(s), response rate ${pct(d.responded, d.total)}`)\n  .join('\\n') || '  (none)';\n\n// By company type\nconst byCompanyType = {};\nfor (const a of apps) {\n  const ct = a.company_type || 'unknown';\n  if (!byCompanyType[ct]) byCompanyType[ct] = { total: 0, responded: 0 };\n  byCompanyType[ct].total += 1;\n  if (RESPONDED_STATUSES.includes(a.status)) byCompanyType[ct].responded += 1;\n}\nconst companyTypeLines = Object.entries(byCompanyType)\n  .map(([ct, d]) => `  ${ct}: ${d.total} application(s), response rate ${pct(d.responded, d.total)}`)\n  .join('\\n') || '  (none)';\n\n// Per-application list\nconst appLines = apps.map(a => {\n  const days = Math.floor((now - new Date(a.created_at)) / (1000 * 60 * 60 * 24));\n  return `  - ${a.role_title || '(untitled role)'} @ ${a.company_name || '(unknown company)'} ` +\n    `| company_type: ${a.company_type || 'unknown'} ` +\n    `| match tier: ${a.match_tier || 'unknown'} ` +\n    `| match score: ${a.match_score ?? 'unknown'} ` +\n    `| status: ${a.status} ` +\n    `| ${days} day(s) ago`;\n}).join('\\n') || '  (none)';\n\nconst prompt = [\n  '## Window',\n  `Date range: ${weekStartStr} to ${todayStr} (last 4 weeks)`,\n  `Total applications in window: ${n}`,\n  `Minimum sample size reached (N >= ${MIN_N}): ${minNReached ? 'yes' : 'no'}`,\n  '',\n  '## Status breakdown',\n  statusLines,\n  '',\n  '## Match score stats',\n  `Average match score: ${avgScore ?? 'unknown'}`,\n  'By match tier:',\n  tierLines,\n  '',\n  '## Company type breakdown',\n  companyTypeLines,\n  '',\n  '## Applications in window',\n  appLines,\n].join('\\n');\n\nreturn [{\n  json: {\n    n,\n    min_n_reached: minNReached,\n    week_start: weekStartStr,\n    pattern_prompt: prompt,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "dddddddd-0000-4000-8000-000000000003",
      "name": "Prepare Pattern Detector Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8001/complete",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $json.pattern_prompt, system_prompt_name: \"pattern_detector\", json_mode: true }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "id": "dddddddd-0000-4000-8000-000000000004",
      "name": "Pattern Detector Agent",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const output = JSON.parse($input.item.json.text);\nconst prior = $('Prepare Pattern Detector Input').item.json;\nreturn [{\n  json: {\n    ...prior,\n    pattern_output: output,\n    pattern_output_json: JSON.stringify(output),\n    pattern_model_used: $input.item.json.model,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "dddddddd-0000-4000-8000-000000000005",
      "name": "Parse Pattern Detector Output"
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "INSERT INTO weekly_insight (week_start, insights)\nVALUES ($1::date, $2::jsonb)\nRETURNING id",
        "options": {
          "queryReplacement": "={{ $json.week_start }},{{ $json.pattern_output_json }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1100,
        0
      ],
      "id": "dddddddd-0000-4000-8000-000000000006",
      "name": "Persist Weekly Insight",
      "credentials": {
        "postgres": {
          "id": "IE4krf2WbUXsoRyf",
          "name": "Anchor Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $('Parse Pattern Detector Output').item.json;\nconst output = item.pattern_output;\n\nconst lines = [\n  `*Weekly Reflection - week of ${item.week_start}*`,\n  '',\n  `Applications in window: ${item.n}`,\n  '',\n  output.summary,\n];\n\nif (item.min_n_reached) {\n  if (output.patterns.length > 0) {\n    lines.push('', 'Patterns:');\n    for (const p of output.patterns) {\n      lines.push(`- *${p.observation}* (${p.confidence} confidence)`);\n      lines.push(`  Evidence: ${p.evidence}`);\n      lines.push(`  Suggested action: ${p.suggested_action}`);\n    }\n  } else {\n    lines.push('', 'No patterns cleared the evidence bar this week.');\n  }\n}\n\nreturn [{ json: { slack_text: lines.join('\\n') } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ],
      "id": "dddddddd-0000-4000-8000-000000000007",
      "name": "Build Digest"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8001/notify-slack",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.slack_text }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        0
      ],
      "id": "dddddddd-0000-4000-8000-000000000008",
      "name": "Post Weekly Digest",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    }
  ],
  "connections": {
    "Schedule Trigger - Sunday 7pm": {
      "main": [
        [
          {
            "node": "Aggregate Last 4 Weeks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Last 4 Weeks": {
      "main": [
        [
          {
            "node": "Prepare Pattern Detector Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Pattern Detector Input": {
      "main": [
        [
          {
            "node": "Pattern Detector Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pattern Detector Agent": {
      "main": [
        [
          {
            "node": "Parse Pattern Detector Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Pattern Detector Output": {
      "main": [
        [
          {
            "node": "Persist Weekly Insight",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Weekly Insight": {
      "main": [
        [
          {
            "node": "Build Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Digest": {
      "main": [
        [
          {
            "node": "Post Weekly Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "hULM9d6nFUMdite1"
  },
  "active": false,
  "meta": {}
}
